.paginado {
  display: inline-block;
  padding: 0;
  margin: 5px;
}
.paginado li {
  display: inline;
}

.paginado li button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid rgb(149, 52, 61, 0.3);
  margin: 8px;
}

.paginado li button:hover {
  background-color: rgb(230, 164, 75);
  cursor: progress;
}

.paginado li button:focus {
  background-color: rgb(230, 164, 75);
}
