.navBar {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
}
.searchAndCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.filterMenu {
  margin: 10px;
}
nav {
  background-color: rgb(149, 52, 61);
}

.search {
  margin: 0;
  display: flex;
  align-items: center;
}
.search input {
  border: 0;
  outline: 0;
  background: #f0f0f0;
  color: #010101;
  border-radius: 9px;
  text-align: center;
  height: 20px;
}
.search img {
  padding: 0;
  width: 15px;
  height: 15px;
}
.create img {
  width: 25px;
  height: 25px;
}

.search input:hover {
  background: #e9cc91;
}
.search input:focus {
  background: #e9cc91;
}
.search button {
  border: 1px solid transparent;
  border-radius: 30px;
  margin-left: 5px;
}
.search button:hover {
  background-color: #e9cc91;
}
.create {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: #f0f0f0;
}
.create img {
  width: 25px;
  height: 23px;
}

.create button {
  border: 1px solid transparent;
  border-radius: 40px;
  margin-left: 5px;
  padding: 0;
  display: flex;
  align-items: center;
}
.create button:hover {
  background-color: #e9cc91;
}
