.navBar {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}
.searchAndCreate {
  margin-top: 20px;
}
.filterMenu {
  margin: 10px;
}
nav {
  border: 1px solid #aaa;
  background-color: rgb(245, 163, 163);
}
